<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.reguadetres">

    <application
        android:allowBackup="true"
        android:icon="@drawable/appface"
        android:label="Régua de Três"
        android:roundIcon="@drawable/approundedface"
        android:supportsRtl="true"
        android:theme="@style/Theme.Design.NoActionBar">
        <activity android:name=".EndingScene"></activity>
        <activity android:name=".SplashScene">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>